h2{
	background-color: #eee;
	margin: 0;
	padding: 16px;
	font-size: 40px;
}


.markdown-body{
	padding: 40px;
	a{	
		display: block;
		word-wrap:break-word;
		width: 100%;
		color:#4078c0;
		&:hover{
			color:#4078c0;
		}
	}

	p{
		width: 100%;
	}
	img{
		margin: auto;
		width:100%;
	}

	li{
		list-style:none;
	}
	code{
	white-space: normal;  
	word-break: break-all;  
	}
}