h2{
	background-color: #eee;
	margin: 0;
	padding: 16px;
	font-size: 40px;
}


.markdown-body{
	padding: 40px;
	a{
		color:#4078c0;
		&:hover{
			color:#4078c0;
		}
	}

	p{
		text-indent: 0.6rem;
		width: 100%;
	}
	img{
		display: block;
		margin: auto;
		width:100%;
	}

	li{
		list-style:none;
	}
}